exportPattern("^[^\\.]")
importFrom(stats,aggregate)
importFrom(reshape,cast)
importFrom(reshape,melt)
importFrom(reshape,guess_value)
import(lattice)
import(XML)
import(MASS)
import(methods)
import(grid)
S3method(.guide,default)
S3method(.guide,numeric)
S3method(.guide,integer)
S3method(.guide,factor)
S3method(.guide,mDateTime)
S3method(.guide,mDate)
S3method(.guide,mTime)
S3method(.type,default)
S3method(.type,timepoint)
S3method(.type,numeric)
S3method(.label,default)
S3method(.required,default)
S3method('%matches%',character)
S3method('%matches%',data.frame)
S3method('%matches%',keyed)
S3method('%matches%',spec)
S3method('[',comment)
S3method('[',conditioned)
S3method('[',digest)
S3method('[',flag)
S3method('[',keyed)
S3method('[',nmctl)
S3method('[',timeline)
S3method('[',uniKey)
S3method('[<-',timepoint)
S3method('[[',comment)
S3method('[[',flag)
S3method('[[',nmctl)
S3method('[[',timeline)
S3method('[[',uniKey)
S3method('+',timeline)
S3method('-',timeline)
S3method(aggregate,keyed)
#S3method(and,keyed)
#S3method(as.best,comment)
S3method(as.best,digest)
#S3method(as.best,timepoint)
S3method(as.character,comment)
S3method(as.character,flag)
S3method(as.character,nmctl)
S3method(as.character,timepoint)
S3method(as.character,uniKey)
S3method(as.chartime,numeric)
S3method(as.comment,comment)
S3method(as.comment,default)
S3method(as.conditioned,digest)
S3method(as.conditioned,isolated)
S3method(as.conditioned,keyed)
S3method(as.csv.filename,character)
S3method(as.data.frame,block)
S3method(as.data.frame,comment)
S3method(as.define,spec)
S3method(as.data.frame,flag)
S3method(as.digest,data.frame)
S3method(as.digest,digest)
S3method(as.digest,keyed)
S3method(as.digest,nm)
S3method(as.document,data.frame)
S3method(as.document,data.frame)
S3method(as.filename,character)
S3method(as.flag,default)
S3method(as.flag,flag)
S3method(as.isolated,digest)
S3method(as.isolated,isolated)
S3method(as.isolated,keyed)
S3method(as.halfmatrix,default)
S3method(as.halfmatrix,halfmatrix)
S3method(as.keyed,data.frame)
S3method(as.keyed,nm)
S3method(as.list,nmctl)
S3method(as.matrix,halfmatrix)
S3method(as.mDate,character)
S3method(as.mDate,Date)
S3method(as.mDate,dates)
S3method(as.mDate,numeric)
S3method(as.mDate,mDate)
S3method(as.mDateTime,character)
S3method(as.mDateTime,chron)
S3method(as.mDateTime,mDate)
S3method(as.mDateTime,mDateTime)
S3method(as.mDateTime,numeric)
S3method(as.mDateTime,POSIXct)
S3method(as.mDateTime,POSIXlt)
S3method(as.mTime,character)
S3method(as.mTime,mTime)
S3method(as.mTime,numeric)
S3method(as.mTime,times)
S3method(as.motif,digest)
S3method(as.motif,keyed)
S3method(as.motif,motif)
S3method(as.motif,nm)
S3method(as.nm,data.frame)
S3method(as.nmctl,character)
S3method(as.numeric,chartime)
S3method(as.pdf,character)
S3method(as.pdf,data.frame)
S3method(as.pdf,define)
S3method(as.pdf,document)
S3method(as.roles,digest)
S3method(as.spec,character)
S3method(as.spec,data.frame)
S3method(as.vector,keyed)
S3method(as.vector,spec)
S3method(as.vector,uniKey)
S3method(as.xml,character)
S3method(as.xml,data.frame)
S3method(as.xml,default)
S3method(badAmt,nm)
S3method(badDv,nm)
S3method(badII,nm)
S3method(c,comment)
S3method(c,flag)
S3method(c,timeline)
S3method(c,uniKey)
S3method(codes,default)
S3method(codes,spec)
S3method(combinations,data.frame)
S3method(constant,default)
S3method(decodes,default)
S3method(decodes,spec)
S3method(deranged,data.frame)
S3method(deranged,keyed)
S3method(dupKeys,nm)
S3method(encode,character)
S3method(encode,default)
S3method(encode,list)
S3method(encoded,default)
S3method(encoded,spec)
S3method(falseAmt,nm)
S3method(falseDv,nm)
S3method(fixedwidth,data.frame)
S3method(format,comment)
S3method(format,flag)
S3method(format,mDate)
S3method(format,mDateTime)
S3method(format,mTime)
S3method(format,nmctl)
S3method(format,duration)
S3method(format,uniKey)
S3method(guidetext,spec)
S3method(half,matrix)
S3method(hide,data.frame)
S3method(hidden,data.frame)
S3method(index,conditioned)
S3method(index,digest)
S3method(index,isolated)
S3method(index,keyed)
S3method(index,nm)
S3method(inner,data.frame)
S3method(is.square,matrix)
S3method(labels,spec)
#S3method(left,keyed)
S3method(ltable,data.frame)
S3method(ltable,matrix)
S3method(ltable,table)
S3method(merge,keyed)
#S3method(merge,nm)
S3method(metaMerge,character)
S3method(metaMerge,default)
S3method(metaMerge,list)
S3method(metaSub,character)
S3method(metaSub,filename)
#S3method(minus,keyed)
#S3method(minus,moot)
S3method(monotonic,default)
#S3method(moot,nm)
S3method(nondecreasing,default)
S3method(nonincreasing,default)
S3method(naKeys,nm)
S3method(noPk,nm)
S3method(offdiag,halfmatrix)
#S3method(Ops,keyed)
S3method(ord,halfmatrix)
S3method(ord,matrix)
S3method(plot,conditioned)
S3method(plot,digest)
S3method(plot,isolated)
S3method(plot,keyed)
S3method(plot,nm)
#S3method(plus,keyed)
#S3method(plus,rigged)
S3method(predoseDv,nm)
S3method(print,comment)
S3method(print,flag)
S3method(print,halfmatrix)
S3method(print,keyed.summary)
S3method(print,nm.summary)
S3method(print,nmctl)
S3method(print,duration)
S3method(print,timepoint)
S3method(print,uniKey)
S3method(rep,comment)
S3method(rep,flag)
S3method(rep,timeline)
S3method(rep,uniKey)
S3method(resample,csv.filename)
S3method(resample,data.frame)
S3method(resample,filename)
#S3method(rig,nm)
S3method(seq,timeline)
S3method(sort,keyed)
S3method(specification,comment)
S3method(specification,data.frame)
S3method(specification,default)
#S3method(splom,conditioned)
#S3method(splom,digest)
#S3method(splom,keyed)
S3method(static,data.frame)
S3method(static,keyed)
S3method(summary,hidden.data.frame)
S3method(summary,keyed)
S3method(summary,nm)
S3method(summary,spec)
S3method(supp,data.frame)
S3method(supp,keyed)
S3method(tabular,data.frame)
S3method(tabular,define)
S3method(tabular,matrix)
S3method(tabular,table)
S3method(transform,keyed)
S3method(uniKey,keyed)
S3method(unique,timepoint)
S3method(unique,uniKey)
S3method(unique,comment)
S3method(xtfrm,comment)
S3method(xtfrm,flag)
S3method(xtfrm,timepoint)
S3method(xtfrm,uniKey)
#S3method(xyplot,ext)
S3method(zeroAmt,nm)
S3method(zeroDv,nm)

