exportPattern("^[^\\.]")
importFrom(stats,aggregate)
S3method('[',comment)
S3method('[',flag)
S3method('[',keyed)
S3method('[',miTemporal)
S3method('[[',comment)
S3method('[[',flag)
S3method('[[',miTemporal)
S3method('[<-',miTemporal)
S3method(aggregate,keyed)
S3method(as.character,comment)
S3method(as.character,flag)
S3method(as.character,miTemporal)
S3method(as.character,nmctl)
S3method(as.chartime,numeric)
S3method(as.comment,comment)
S3method(as.comment,default)
S3method(as.csv.filename,character)
S3method(as.data.frame,block)
S3method(as.data.frame,comment)
S3method(as.data.frame,flag)
S3method(as.filename,character)
S3method(as.flag,default)
S3method(as.flag,flag)
S3method(as.halfmatrix,default)
S3method(as.halfmatrix,halfmatrix)
S3method(as.keyed,data.frame)
S3method(as.list,nmctl)
S3method(as.matrix,halfmatrix)
S3method(as.miDate,character)
S3method(as.miDate,Date)
S3method(as.miDate,dates)
S3method(as.miDate,miDate)
S3method(as.miDate,numeric)
S3method(as.miDateTime,character)
S3method(as.miDateTime,chron)
S3method(as.miDateTime,miDate)
S3method(as.miDateTime,miDateTime)
S3method(as.miDateTime,numeric)
S3method(as.miDateTime,POSIXct)
S3method(as.miDateTime,POSIXlt)
S3method(as.miTime,character)
S3method(as.miTime,miTime)
S3method(as.miTime,numeric)
S3method(as.miTime,times)
S3method(as.nm,data.frame)
S3method(as.nmctl,character)
S3method(as.numeric,chartime)
S3method(as.xml,character)
S3method(as.xml,data.frame)
S3method(as.xml,default)
S3method(badAmt,nm)
S3method(badDv,nm)
S3method(badII,nm)
S3method(c,comment)
S3method(c,flag)
S3method(c,miTemporal)
S3method(constant,default)
S3method(deranged,data.frame)
S3method(deranged,keyed)
S3method(falseAmt,nm)
S3method(falseDv,nm)
S3method(fixedwidth,data.frame)
S3method(format,comment)
S3method(format,flag)
S3method(format,miDate)
S3method(format,miDateTime)
S3method(format,miTime)
S3method(format,nmctl)
S3method(half,matrix)
S3method(hide,data.frame)
S3method(hidden,data.frame)
S3method(inner,data.frame)
S3method(ltable,data.frame)
S3method(merge,keyed)
S3method(merge,nm)
S3method(metaSub,character)
S3method(metaSub,filename)
S3method(moot,nm)
S3method(noPk,nm)
S3method(Ops,keyed)
S3method(ord,halfmatrix)
S3method(ord,matrix)
S3method(plot,nm)
S3method(predoseDv,nm)
S3method(print,comment)
S3method(print,flag)
S3method(print,halfmatrix)
S3method(print,keyed.summary)
S3method(print,miTemporal)
S3method(print,nm.summary)
S3method(print,nmctl)
S3method(rep,comment)
S3method(rep,flag)
S3method(rep,miTemporal)
S3method(resample,csv.filename)
S3method(resample,data.frame)
S3method(resample,filename)
S3method(rig,nm)
S3method(seq,miTemporal)
S3method(sort,keyed)
S3method(summary,hidden.data.frame)
S3method(summary,keyed)
S3method(summary,nm)
S3method(transform,keyed)
S3method(tabular,data.frame)
S3method(uniKey,keyed)
S3method(unique,miTemporal)
S3method(xtfrm,comment)
S3method(xtfrm,flag)
S3method(xtfrm,miTemporal)
S3method(zeroAmt,nm)
S3method(zeroDv,nm)

